# Global directories
__pycache__/

# Global files
*.py[cod]
*.dll
*.so
*.log
*.swp

# Root directories
/.benchmarks/
/.env/
/.idea/
/.mypy_cache/
/.pytest_cache/
/.vscode/
/backend/dist/
/dist/
/site/

# Root files
/.coverage*
