name: build hatchling

on:
  push:
    tags:
    - hatchling-v*

env:
  PYTHON_VERSION: "3.12"

jobs:
  build:
    name: Build wheels and source distribution
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install UV
      run: curl -LsSf https://github.com/astral-sh/uv/releases/latest/download/uv-installer.sh | sh

    - name: Install build dependencies
      run: uv pip install --system --upgrade build

    - name: Build source distribution
      run: python -m build backend

    - uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: backend/dist
        if-no-files-found: error

  publish:
    name: Publish release
    needs:
    - build
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: artifacts
        path: dist

    - name: Push build artifacts to PyPI
      uses: pypa/gh-action-pypi-publish@v1.12.3
      with:
        skip-existing: true
