name: build hatchling

on:
  push:
    tags:
    - hatchling-v*

jobs:
  build:
    name: Build wheels and source distribution
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install build dependencies
      run: python -m pip install --upgrade build

    - name: Build source distribution
      run: python -m build backend

    - uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: backend/dist/*
        if-no-files-found: error

  publish:
    name: Publish release
    needs:
    - build
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
    - uses: actions/download-artifact@v3
      with:
        name: artifacts
        path: dist

    - name: Push build artifacts to PyPI
      uses: pypa/gh-action-pypi-publish@v1.8.11
      with:
        skip-existing: true
